<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset("assets/images/apple-touch-icon.png") }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("assets/images/favicon-32x32.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("assets/images/favicon-16x16.png") }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        {% block stylesheets %}
            <!-- CSS
    ================================================== -->
            <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/vendor.css") }}">

            <!-- script
            ================================================== -->
            <script src="{{ asset("assets/js/modernizr.js") }}"></script>
        {% endblock %}
    </head>
    <body id="top">

    {{ include('layouts/partials/header.html.twig') }}
    <section class="s-bricks">
       {% block body %}
       {% endblock %}
    </section>
    {{ include('layouts/partials/footer.html.twig') }}

    {% block javascripts %}
        <!-- Java Script
 ================================================== -->
        <script src="{{ asset("assets/js/jquery-3.2.1.min.js") }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="{{ asset("assets/js/plugins.js") }}"></script>
        <script src="{{ asset("assets/js/main.js") }}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
        //ADD TO FAVORITE
            function onClickBtnAdd(event) {
                event.preventDefault();
                const url = this.href;
                const buttonText = this.querySelector('span');
                axios.get(url).then(function(response){
                    buttonText.textContent = "article ajouté à vos favoris";
                }).catch(function(error) {
                    if(error.response.status === 403){
                        window.alert('Unauthorized action, please log in !')
                    }else if(error.response.status === 404)
                        {
                            window.alert('Article not found')
                        }
                    else{
                        window.alert('An error accured, please try later')
                    }
                });
            }
            document .querySelectorAll('a.js-add').forEach(function(link){
                    link.addEventListener('click',onClickBtnAdd);
                });

            //REMOVE FROM FAVORITE
            function onClickBtnRemove(event) {
                event.preventDefault();
                const url = this.href;
                const favoris = this.parentElement.parentElement;
                axios.get(url).then(function(response){
                    favoris.remove();
                }).catch(function(error) {
                        window.alert('An error accured, please try later')
                });
            }
            document .querySelectorAll('a.js-remove').forEach(function(link){
                    link.addEventListener('click',onClickBtnRemove);
                });    	 
        </script>
    {% endblock %}
    </body>
</html>
