{% extends 'layouts/base.html.twig' %}

{% block title %}Articles favoris{% endblock %}
{% block body %}
<div class='container'>
                        {% for article in articles %}
                            <article class="brick entry format-standard animate-this">
                                {# <div class="entry__thumb">
                                    <a href="{{ item.link }}" class="thumb-link">
                                        <img src="{{ asset('assets/images/thumbs/masonry/woodcraft-600.jpg') }}" 
                                            srcset="{{ asset('assets/images/thumbs/masonry/woodcraft-600.jpg') }} 1x, {{ asset('assets/images/thumbs/masonry/woodcraft-1200.jpg') }} 2x" alt="">
                                    </a>
                                </div> <!-- end entry__thumb --> #}
                                <div class="entry__text">
                                    <div class="entry__header">
                
                                        <div class="entry__meta">
                                            <span class="entry__cat-links">
                                                {{ article.pubDate | date("d/m/Y") }}<br>
                                                <a href="?article_search%5Bcategory%5D={{ article.category }}&article_search%5Btitle%5D=#">{{ article.category }}</a> 
                                            </span>
                                        </div>
                
                                        <h1 class="entry__title"><a href="{{ article.link }}">{{ article.title }}</a></h1>
                                        
                                    </div>
                                    <div class="entry__excerpt">
                                        <p>
                                            {{ article.description }}
                                        </p>
                                    </div>
                                </div> <!-- end entry__text -->
                
                            </article> <!-- end entry -->
                        {% endfor %} 
<div>   
{% endblock %}